{% extends 'base/principal.html' %}

{% block content %}

<div class="barra-superior">
    <div>
        <h1>
            Hola {{request.user|title}}
        </h1>
        <h3 style="margin:0;">
            Tienes <i>{{count}}</i> tarea{{count|pluralize}} incompleta{{count|pluralize}}
        </h3>
    </div>
    {% if request.user.is_authenticated %}
<!--    <p>{{request.user}}</p> ya no se necesita porque el nombre ya aparece arriba-->
    <!--<
    Fue necesario cambiar esta etiquta por un form debido a que la etiqueta <a> redirecciona con
    el metodo get y LogoutView utiliza el metodo post al ser diferente no carga la pagina
    por lo que se tiene que usar mejor el form de abajo y le indicamos el metodo correcto
    a href="{% url 'logout' %}">Salir</a>
    -->
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Salir</button>
    </form>
{% else %}
    <a href="{% url 'login' %}">ingresar</a>
{% endif %}

</div>

<div id="envoltorio-agregar-buscar">
    <form action="" method="get" style="margin-top:20px; display:flex;">
        <input type="text" name="area-buscar" value="{{valor_buscado}}">
        <input class="boton" type="submit" value="Buscar">
    </form>
    <a id="enlace-agregar" href="{% url 'crear-tarea'%}">&#x2B;</a>
</div>



<div class="envoltorio-items-tarea">
    {% for tarea in tareas %}
    <div class="envoltorio-tarea">
        {% if tarea.completo %}
        <div class="titulo-tarea">
            <div class="icono-tarea-completa"></div>
            <i><s><a href="{% url 'editar-tarea' tarea.id %}">{{tarea}}</a></s></i>
        </div>
        <a class="enlace-eliminar" href="{% url 'eliminar-tarea' tarea.id %}">&#x2573;</a>
        {% else %}
        <div class="titulo-tarea">
            <div class="icono-tarea-incompleta"></div>
            <a href="{% url 'editar-tarea' tarea.id %}">{{tarea}}</a>
        </div>
        <a class="enlace-eliminar" href="{% url 'eliminar-tarea' tarea.id %}">&#x2573;</a>
        {% endif %}
    </div>

    {% empty %}
    <h3>No hay elementos en la lista</h3>
    {% endfor %}

</div>


<!--

<table>
    <tr>
        <th>Elementos</th>
        <th>Ver detalle</th>
        <th>Editar tarea</th>
        <th>Eliminar tarea</th>
    </tr>

    {% for tarea in tareas %}

    <tr>
        <td>{{tarea.titulo}}</td>
        <td>
            <a href="{% url 'tarea' tarea.id %}">Ver</a>
        </td>
        <td>
            <a href="{% url 'editar-tarea' tarea.id %}">Editar</a>
        </td>
        <td>
            <a href="{% url 'eliminar-tarea' tarea.id %}">Eliminar</a>
        </td>
    </tr>

    {% empty %}
    <h3>No hay elementos en la lista</h3>
    {% endfor %}

</table>
-->

{% endblock content %}

